h1 {
  text-align: center;
  color: cadetblue;
}

a {
  color: red;
  text-align: center;
}

li {
  list-style-position: inside;
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: -10px;
}
